<div class="container">
    <h1>Contactos</h1>
    <div class="row">
        <h2>AGREGAR NUEVO CONTACTO</h2>
        <div class="col">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="info.nombre">
        </div>
        <div class="col">
            <label for="entidad">Entidad</label>
            <input type="text" name="entidad" id="entidad" [(ngModel)]="info.Entidad">
        </div>
        <div class="col">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" [(ngModel)]="info.Email">
        </div>
        <div class="col"><button class="btn btn-primary" (click)="Subir_Actualizar_Registro()">{{(edit) ? 'editar' : 'agregar'}}</button></div>
    </div>
    <div class="row">
        <label for="buscar">Filtar por:</label>
        <input type="text" name="buscar" id="buscar" [(ngModel)]="Busqueda" (ngModelChange)="Filtardata()">
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Nombre</td>
                    <td scope="col">Entidad</td>
                    <td scope="col">Email</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reg of data">
                    <td>{{reg.nombre}}</td>
                    <td>{{reg.Entidad}}</td>
                    <td>{{reg.Email}}</td>
                    <td><button class="btn btn-primary" (click)="editarregistro(reg)">Editar</button></td>
                    <td><button class="btn btn-primary" (click)="eliminarregistro(reg)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>